<h1>The Movie Matching Game</h1>

</div>
<div class="form-group">
  <label>Movie Title:</label>
  <input type="text" class="form-control" id="searchInput">
  <button id="search-btn" class="btn btn-primary">Search</button>
</div>

<div id="moviesList"></div>
<div id="gameText"></div>
<div id="actorsList"></div>
<div id="scoreText"></div>

<div class="controls">
	<button id="submit-btn" class="btn btn-primary disabled hidden">Submit</button>
	<button id="replay-btn" class="btn btn-primary hidden">Replay</button>
</div>